<h2 class="portfolio">Portfolio</h2>
<div class="portfolio-content">
    <figure>
        <img src="./img/explainer-video.jpg" alt="description of image" /> 
        <figcaption class="port-piece-name">Social Media & Mental health - Explainer Video</figcaption>
    </figure>
    <figure>
        <img src="./img/tc-logo.jpg" alt="description of image" /> 
        <figcaption class="port-piece-name">Toronto Cupcake Logo Re-Design</figcaption>
    </figure>
    <figure>
        <img src="./img/expresso.png" alt="description of image" /> 
        <figcaption class="port-piece-name">Expresso Coffee</figcaption>
    </figure>
    <figure>
        <img src="./img/Infographic-poster.jpg" alt="description of image" /> 
        <figcaption class="port-piece-name">Infographic Poster - Social Media & Mental Health</figcaption>
    </figure>
    <figure>
        <img src="./img/photoshoot.jpg" alt="description of image" /> 
        <figcaption class="port-piece-name">The Show Goes On!</figcaption>
    </figure>
    <figure>
        <img src="./img/rain.JPG" alt="description of image" /> 
        <figcaption class="port-piece-name">A Nature Minute - Rain</figcaption>
    </figure>
</div>


